*.css linguist-vendored
*.scss linguist-vendored
* text=auto
bin/css/ender.min.css linguist-language=css
templates/en/* linguist-generated
templates/zh_CN/* linguist-generated
templates/zh_TW/* linguist-generated