bs4==0.0.1
cryptography==3.3.2
emoji==1.2.0
func-timeout==4.3.5
jieba==0.42.1
lxml==4.6.2
PyMySQL==1.0.2
PyVirtualDisplay==2.0
requests==2.25.1
selenium==3.141.0
translators==4.7.13
urllib3==1.26.3
virtualenv==20.4.0
