bs4
cryptography==3.3.2
emoji
func-timeout==4.3.5
jieba
textrank4zh
lxml>=4.6.3
PyMySQL==1.0.2
PyVirtualDisplay==2.0
requests==2.25.1
selenium==3.141.0
translators==4.7.13
urllib3==1.26.4
virtualenv==20.4.0
