{{define "en/guide.html"}}
    {{template "en/header" .}}
    <div class="guide-panel doc">
        <div class="guide-link doc-navigate">
            {{template "en/guide-link"}}
        </div>
        {{template "en/guide"}}
    </div>
    <script>
        function change_style(style) {
            document.cookie = "style=" + escape(style);
            location.reload(true);
        }
        function randomize(target) {
            nUrl = window.location.protocol + "//" + window.location.host + "/random/" + target;
            this.location = nUrl;
            window.location.href = nUrl;
        }
        function show_options() {
            console.log("just a fake button.");
        }
    </script>
{{end}}