{{define "en/website_intro_msg"}}datapack.space (global datapack database){{end}}
{{define "en/datapacks_msg"}}Datapacks{{end}}
{{define "en/authors_msg"}}Authors{{end}}
{{define "en/tags_msg"}}Tags{{end}}
{{define "en/languages_msg"}}Language{{end}}
{{define "en/guide_msg"}}Guide{{end}}
{{define "en/about_msg"}}About{{end}}

{{define "en/end_crystal_msg"}}End Crystal{{end}}
{{define "en/default"}}Default{{end}}
{{define "en/wander_on_msg"}}enable Ender Wanderer{{end}}
{{define "en/wander_off_msg"}}disable Ender Wanderer{{end}}

{{define "en/post_at_msg"}}posted at{{end}}
{{define "en/update_at_msg"}}updated at{{end}}
{{define "en/goto_link_msg"}}Head to the original post{{end}}
{{define "en/to_top_msg"}}Back to top{{end}}
{{define "en/related_datapacks_msg"}}Same datapacks{{end}}
{{define "en/hide_msg"}}Content is hidden, please head to the original post to view.{{end}}
{{define "en/hide_a_msg"}}Link is hidden, please head to the original post to view.{{end}}
{{define "en/counter_msg"}}Amount of signed datapacks{{end}}
{{define "en/last_update_msg"}}Last update time{{end}}
{{define "en/counter_tag_msg"}}Amount of datapacks with this tag{{end}}
{{define "en/language_tag"}}Default language of this tag{{end}}
{{define "en/synonymous_tag"}}Synonymous tags{{end}}

{{define "en/datapack_name_msg"}}datapack{{end}}
{{define "en/author_name_msg"}}author{{end}}
{{define "en/introduction_msg"}}intro{{end}}
{{define "en/combo-order"}}
<select class="select-menu" id="order" data-menu>
    <option value="0">Latest posted</option>
    <option value="1">Earliest posted</option>
    <option value="2">Latest updated</option>
    <option value="3">Earliest updated</option>
    <option value="4">Alphabet</option>
</select>
{{end}}
{{define "en/combo-filter-post-time"}}
<select id="filter-post-time" data-menu>
    <option value="0">-</option>
    <option value="1">Posted today</option>
    <option value="2">Posted last 3 days</option>
    <option value="3">Posted last 1 week</option>
    <option value="4">Posted last 1 month</option>
    <option value="5">Posted this month</option>
    <option value="6">Posted this year</option>
</select>
{{end}}
{{define "en/combo-filter-update-time"}}
<select id="filter-update-time" data-menu>
    <option value="0">-</option>
    <option value="1">Updated today</option>
    <option value="2">Updated last 3 days</option>
    <option value="3">Updated last 1 week</option>
    <option value="4">Updated last 1 month</option>
    <option value="5">Updated this month</option>
    <option value="6">Updated this year</option>
</select>
{{end}}

{{define "en/guide"}}
<h1 id="0">Guide</h1>
<p class="welcome">Welcome to datapack.space. Almost all the Minecraft datapack works are collected here. And as a search site, it provides datapack search service.</p>
<p>Website adopts Ender style, to combine user interface with exploration to The End visually, promoting performance of viewing and interacting.</p>
<h2 id="1">Basic Plate</h2>
    <p>As is known for all, there are a lot of islands in The End, so are Here. The following are some basic plates of this website.</p>
    <li id="1.0">Datapacks</li>
        <p>This is the main part of this website, which provides display and search services for datapack related content.</p>
        <p>END CITY —— main page of datapacks shows all datapacks with basic information and brief introduction. If you want to view details of a datapack, please click its title or End Crystal on its cover to head to its page.</p>
        <p>Only the detailed content of an authorized datapack is complete, <strong>or all links, videos and other interactive contents inside it are hidden, as well as the download link. So if you want to download, the only way is to head to the original post.</strong></p>
        <p>Want to find datapacks quickly? By using <strong>Normal Search, Accurate Search and Filter</strong>, you will find what you want.</p>
    <li id="1.1">Authors</li>
        <p>This is a supplementary part of this website, which only shows author's nickname, avatar. It does not involve other information of authors.</p>
        <p>CENTRAL ISLAND —— author page shows all authors. If you want to see more, please click his/her avatar or nickname to head to the detailed page.</p>
    <li id="1.2">Tags</li>
        <p>All datapack has 4 kinds of tags: source, version, class, keyword, which are shown in different colors.</p>
        <p>Source in blue and Version in green are basic information of datapacks. Class in cyan is defined by author, while Keyword in purple is summarized by the website.</p>
        <p>Chorus Plant —— tag page displays all tags, ordered by its quotation. If you want to see more, please click it to head to the detailed page.</p>
        <p>The detailed page contains statistic of tag, and all datapacks which has this tag. If you set your language, there may be its synonymous tags.</p>
<h2 id="2">Search & Filter</h2>
    <div style="--background: rgba(72,48,72,0.5); transform: scale(0.75); float: left">{{template "icon/option"}}</div><p>Click button like the left icon to unfold panel of Search & Filter.</p>
    <li id="2.0">Normal Search</li>
        <p>Full search based on keywords. You can enter a keyword or a sentence, and the search results will be sorted in descending order of the number of times the keyword appears.</p>
        <p>The range of search is name, brief introduction and tag of datapack in your language (if you haven't set your language, it will search on default things); When searching author or tag, the search scope is only their name, and it is unlimited backward truncation.</p>
    <li id="2.1">Accurate Search</li>
        <p>Keyword-based accurate search. The search results ensure that the input content must be in the field.</p>
        <p>Only applies for datapack. The scope can be name, author's nickname and brief introduction. it is unlimited backward truncation for author's nickname.</p>
    <li id="2.2">Filter</li>
        <p>Contains 5 filters. Only applies for datapack.</p>
        <p>The first determines order of the result. The following 4 are filters for source, version, post time and update time.</p>
<h2 id="3">Language Switch</h2>
    <p>You can switch to your language in Language page. The translation is only on website tips, name & introduction of datapacks, tags.</p>
    <p>In default language, only website tips is in chinese. Other contents is in default language of datapacks respectively.</p>
    <p>(Note: translation is done by machine, may not be accurate. If you want to modifty, see <span>Github - docs/administer.md#correction</span>)</p>
<h2 id="4">Style Switch</h2>
    <p>There are some styles provided for you. (Click button to switch)</p>
    <button onclick="change_style('normal')">Normal</button><button onclick="change_style('shadeless')">Shadeless</button><button onclick="change_style('simplified')">Simplified</button>
    <ul>
        <li><p>Normal：Default style, with good visual performance using shaders.</p></li>
        <li><p>Shadeless：Removes shaders and filters to reduce lags.</p></li>
        <li><p>Simplified：Based on Shadeless, simplified some information in UI, clean and simple.</p></li>
    </ul>
<h2 id="5">Randomize</h2>
    <p>You can click portal beneath to view content randomly.</p>
    <button onclick="randomize('datapack')">Portal - Datapack</button><button onclick="randomize('author')">Portal - Author</button><button onclick="randomize('tag')">Portal - Tag</button>
<h2 id="6">API</h2>
    <p>The website opens an API interface to let you access it in you project.</p>
    <li id="6.0">API Standard</li>
    <p>Add GET parameter "api=1" to url to request API. It will respond a json string, which contains all information you need.</p>
    <p>more detailed json format, see: <span>Github - docs/api.md</span></p>
<h2 id="7">Contribution</h2>
    <li id="7.0">Translation</li>
        <p>Want to add language to this website, or translate development manual? See: <span>Github - docs/translation.md</span></p>
    <li id="7.1">Correction</li>
        <p>translation is done by google translate, where many may not accurate. If you want to correct，See: <span>Github - docs/administer.md#correction</span></p>
    <li id="7.2">Combine</li>
        <p>If the source is different, even if the names of datapacks or authors are the same, it will be seen as different individuals. Want to combine, See:<span>Github - docs/administer.md#combine</span></p>
    <li id="7.3">Authorization</li>
        <p>All datapack is unauthorized initially, so it will hides links, videos and other interactive contents. If you want to authorize you datapack to the website, they will be open, but might be a loss to you. See: <span>Github - docs/administer.md#authorize</span></p>
    <li id="7.4">Add New Source</li>
        <p>Want this website to collect your personal datapack collection? Or just want to add a new source website? See: <span>Github - docs/spider.md</span></p>
    <li id="7.5">Feedback</li>
        <p>Whether it comes to a great idea or a difficult problem, you can tell me in <span>Github - Issues</span>.</p>
{{end}}
{{define "en/guide-link"}}
<li><a href="#1">Basic</a></li>
<ul>
    <li><a href="#1.0">Datapack</a></li>
    <li><a href="#1.1">Author</a></li>
    <li><a href="#1.2">Tag</a></li>
</ul>
<li><a href="#2">Search & Filter</a></li>
<ul>
    <li><a href="#2.0">Normal Search</a></li>
    <li><a href="#2.1">Accurate Search</a></li>
    <li><a href="#2.2">Filter</a></li>
</ul>
<li><a href="#3">Language Switch</a></li>
<li><a href="#4">Style Switch</a></li>
<li><a href="#5">Randomize</a></li>
<li><a href="#6">API</a></li>
<ul>
    <li><a href="#6.0">API Stantard</a></li>
</ul>
<li><a href="#7">Contribution</a></li>
<ul>
    <li><a href="#7.0">Translation</a></li>
    <li><a href="#7.1">Correction</a></li>
    <li><a href="#7.2">Combine</a></li>
    <li><a href="#7.3">Authorization</a></li>
    <li><a href="#7.4">Add New Source</a></li>
    <li><a href="#7.5">Feedback</a></li>
</ul>
{{end}}

{{define "en/about"}}
<h1>About</h1>
<li id="1">Disclaimer</li>
<ul style="font-size: 0.5em">
     <li>datapack.space is a non-profit search site for nonprofits, not for any commercial purpose. </li>
     <li>The website does not contain user systems and is only accessible to visitors anonymously. </li>
     <li>The website uses 1 cookie, which is only related to the style of the website and does not involve visitor privacy or personal information. </li>
     <li>The works collected on the website only contain basic information (except for authorized works), and the information is only used for dissemination and does not infringe the copyright of the work itself. </li>
     <li>The crawler legally crawls the public content of the site with the visitor's authority, following the access agreement of the data source site, and has nothing to do with user privacy and copyright. </li>
     <li>If the visitor’s behavior violates the visitor’s local laws and causes disputes and disputes, the visitor shall bear the responsibility and this site will not be responsible. </li>
</ul>
<li id="2">Open Source Certificate</li>
<p>This project adopts <a href="https://github.com/tremblestarman/datapack.space/blob/master/LICENSE">GNU General Public License v3.0</a>, and has opened in <a href="https://github.com/tremblestarman/datapack.space">Github</a>.
</p>
{{end}}
{{define "en/about-link"}}
<li><a href="#1">Disclaimer</a></li>
<li><a href="#2">Open Source Certificate</a></li>
{{end}}