{{define "zh_TW/language.html"}}
    {{template "zh_TW/header" .}}
        <div class="languages">
            <div class="language" onclick="set_language('default')">{{template "zh_TW/default"}}</div>
        {{range $k, $v := .languages}}
            <div class="language" onclick="set_language({{$k}})">{{$v}}</div>
        {{end}}
        </div>
    <script src="/bin/js/particles.js"></script>
    <script>
        particlesJS.load('background', '/bin/js/mist-chorus.json', function() {
            console.log('particles.js config loaded');
        });
    </script>
{{end}}