{{define "zh_TW/website_intro_msg"}}datapack.space (全球數據包數據庫){{end}}
{{define "zh_TW/datapacks_msg"}}數據包{{end}}
{{define "zh_TW/authors_msg"}}作者{{end}}
{{define "zh_TW/tags_msg"}}標簽{{end}}
{{define "zh_TW/languages_msg"}}語言{{end}}
{{define "zh_TW/guide_msg"}}向導{{end}}
{{define "zh_TW/about_msg"}}關於{{end}}

{{define "zh_TW/end_crystal_msg"}}末影水晶{{end}}
{{define "zh_TW/default"}}默認{{end}}
{{define "zh_TW/wander_on_msg"}}開啟末地漫步者{{end}}
{{define "zh_TW/wander_off_msg"}}關閉末地漫步者{{end}}

{{define "zh_TW/post_at_msg"}}發表於{{end}}
{{define "zh_TW/update_at_msg"}}更新於{{end}}
{{define "zh_TW/goto_link_msg"}}前往原帖{{end}}
{{define "zh_TW/to_top_msg"}}回到頂部{{end}}
{{define "zh_TW/related_datapacks_msg"}}相同數據包{{end}}
{{define "zh_TW/hide_msg"}}內容被隱藏，請前往原貼查看{{end}}
{{define "zh_TW/hide_a_msg"}}鏈接被隱藏，請前往原貼查看{{end}}
{{define "zh_TW/counter_msg"}}收錄署名數據包數目{{end}}
{{define "zh_TW/last_update_msg"}}最後更新時間{{end}}
{{define "zh_TW/counter_tag_msg"}}擁有該標簽的數據包數目{{end}}
{{define "zh_TW/language_tag"}}標簽默認語言{{end}}
{{define "zh_TW/synonymous_tag"}}同義標簽{{end}}

{{define "zh_TW/datapack_name_msg"}}數據包名{{end}}
{{define "zh_TW/author_name_msg"}}作者名{{end}}
{{define "zh_TW//introduction_msg"}}介紹內容{{end}}
{{define "zh_TW/combo-order"}}
<select class="select-menu" id="order" data-menu>
    <option value="0">最近發布</option>
    <option value="1">發布時間倒序</option>
    <option value="2">最近更新</option>
    <option value="3">更新時間倒序</option>
    <option value="4">按名稱排序</option>
</select>
{{end}}
{{define "zh_TW/combo-filter-post-time"}}
<select id="filter-post-time" data-menu>
    <option value="0">-</option>
    <option value="1">今天發布</option>
    <option value="2">三日內發布</option>
    <option value="3">壹周內發布</option>
    <option value="4">壹月內發布</option>
    <option value="5">這個月發布</option>
    <option value="6">今年發布</option>
</select>
{{end}}
{{define "zh_TW/combo-filter-update-time"}}
<select id="filter-update-time" data-menu>
    <option value="0">-</option>
    <option value="1">今天更新</option>
    <option value="2">三日內更新</option>
    <option value="3">壹周內更新</option>
    <option value="4">壹月內更新</option>
    <option value="5">這個月更新</option>
    <option value="6">今年更新</option>
</select>
{{end}}

{{define "zh_TW/guide"}}
<h1 id="0">向導</h1>
<p class="welcome">歡迎來到datapack.space。這裏幾乎匯集了全球所有的Minecraft數據包作品，並且作為壹個搜索網站提供數據包搜索服務。</p>
<p>網站采用末路之地風格，旨在將用戶的交互過程形象化地與對末地的探索過程相結合，從而提高用戶的瀏覽與交互體驗。</p>
<h2 id="1">基本板塊</h2>
    <p>眾所周知，末地有諸多島嶼，這裏也是如此。接下來為您介紹本網站的基本板塊。</p>
    <li id="1.0">數據包</li>
        <p>這是本網站的主體部分，為數據包相關內容提供展示、搜索服務。</p>
        <p>"末地城"——"數據包"主頁面羅列了所有數據包，並且只顯示數據包的基本信息和簡介。如果您想要查看某個數據包的具體內容，可以點擊它的"標題"或者封面上的"末影珍珠"前往該數據包的主頁。</p>
        <p>只有被授權的數據包的具體內容是完整的，<strong>否則其中的鏈接、視頻等交互內容將被隱藏，下載數據包也需要前往原貼下載。</strong></p>
        <p>想要快速地搜索數據包而不是漫無目的地翻找？借助<strong>"普通搜索"、"精確搜索"和"過濾"的功能</strong>，您肯定能找到您想要的。</p>
    <li id="1.1">作者</li>
        <p>這是本網站的輔助內容，只是展示作者的昵稱、頭像與其創作的數據包，不涉及作者其他信息。</p>
        <p>"末地主島"——"作者"頁面羅列了所有作者。如果您想要查看某位作者的相關內容，可以點擊其頭像或名字進入他/她的主頁。</p>
    <li id="1.2">標簽</li>
        <p>所有數據包都包含四類標簽：來源、版本、分類、關鍵詞。這四類標簽以不同顏色展示。</p>
        <p>藍色的"來源"和綠色的"版本"為數據包的基本信息，青色的"分類"是數據包作者自己定義的分類，紫色的"關鍵詞"由數據包的介紹總結。</p>
        <p>"紫頌藤"——"標簽"頁面羅列了所有標簽，按照標簽被引用的次數排序。如果您想要查看某個標簽的相關內容，可以點擊標簽進入其主頁。</p>
        <p>標簽主頁包含了標簽的統計信息、所有該標簽下的的數據包。如果您設置了網站語言，主頁還可能將呈現該語言下的同義標簽。</p>
<h2 id="2">搜索與過濾</h2>
    <div style="--background: rgba(72,48,72,0.5); transform: scale(0.75); float: left">{{template "icon/option"}}</div><p>點擊如左圖所示的按鈕後展開"搜索與過濾"選項。</p>
    <li id="2.0">普通搜索</li>
        <p>基於關鍵詞的查全搜索。可以輸入壹個關鍵詞或者壹句話，搜索結果將按照其中關鍵詞出現的次數降序排列。</p>
        <p>搜索範圍為網站語言下(如果您沒設置網站語言，則以數據包的原始信息為準)數據包的名稱、數據包的簡介、數據包的標簽；在搜索"作者"或"標簽"，搜索範圍僅為其名稱，且為向後無限截詞。</p>
    <li id="2.1">精確搜索</li>
        <p>基於關鍵詞的查準搜索，搜索結果保證輸入內容壹定在字段內。</p>
        <p>只適用於數據包搜索。搜索範圍可以是數據包的名稱、數據包的作者名字、數據包的介紹。其中作者名字為向後無限截詞。</p>
    <li id="2.2">過濾</li>
        <p>包含五個下拉框。只適用於數據包過濾。</p>
        <p>第壹個下拉框用於選擇結果的排列順序，默認為最近發布（從最近發布到最早發布）。隨後的四個下拉框分別用於篩選來源、版本、發布時間、更新時間。</p>
<h2 id="3">切換語言</h2>
    <p>在"語言"頁面切換語言。翻譯僅適用於網站提示、數據包名、數據包簡介、標簽等。</p>
    <p>在"默認語言"下，除了網站提示是簡體中文的，其他內容將直接顯示數據包原始信息。</p>
    <p>(需要註意，翻譯默認為機翻，不壹定準確。如需修改，查看 <span>貢獻 - 糾錯</span>)</p>
<h2 id="4">切換樣式</h2>
    <p>末地為您提供了以下幾種樣式。（點擊按鈕切換風格）</p>
    <button onclick="change_style('normal')">普通</button><button onclick="change_style('shadeless')">無陰影</button><button onclick="change_style('simplified')">精簡</button>
    <ul>
        <li><p>普通：默認樣式，通過陰影和濾鏡，提供良好的視覺體驗。</p></li>
        <li><p>無陰影：刪減了濾鏡和陰影，提供流暢的交互體驗。</p></li>
        <li><p>精簡：在無陰影的基礎上，縮減了信息界面，幹凈簡單。</p></li>
    </ul>
<h2 id="5">隨機瀏覽</h2>
    <p>您可以點擊下方按鈕，遁入折躍門，說不定能找到讓您眼前壹亮的。</p>
    <button onclick="randomize('datapack')">折躍門 - 數據包</button><button onclick="randomize('author')">折躍門 - 作者</button><button onclick="randomize('tag')">折躍門 - 標簽</button>
<h2 id="6">API接口</h2>
    <p>想要將數據庫內容銜接到您的項目中？沒問題，末地開放了API接口。</p>
    <li id="6.0">接口規範</li>
    <p>在數據包、作者、標簽的頁面url上添加GET參數"api=1"以請求api接口。api接口將返回壹段json，包含了在該頁面下的全部信息。</p>
    <p>json格式，詳見：<span>Github - docs/api.md</span></p>
<h2 id="7">貢獻</h2>
    <li id="7.0">翻譯</li>
        <p>想要把網站提示或開發文檔翻譯到另外壹種語言？詳見：<span>Github - docs/translation.md</span></p>
    <li id="7.1">糾錯</li>
        <p>所有內容的第壹次翻譯都是由谷歌翻譯完成的，因此存在不準確的情況。如需糾錯，參考：<span>Github - docs/administer.md#correction</span></p>
    <li id="7.2">合並</li>
        <p>如果來源不同，即使是同名的作者或數據包也是被單獨呈現的，所以可能會存在多個相同數據包以及多個相同作者的尷尬情形。如需合並您在不同網站上的相同數據包，參考：<span>Github - docs/administer.md#combine</span></p>
    <li id="7.3">授權</li>
        <p>所有數據包默認都是未授權的，因此將會隱藏原介紹中的視頻、鏈接等交互功能。將您的數據包授權給末地，上述功能將會開放，但您也許會損失壹部分點擊量。授權操作參考：<span>Github - docs/administer.md#authorize</span></p>
    <li id="7.4">添加網站來源</li>
        <p>希望您的個人集合被末地收錄？或者想要引用壹個新的數據包庫？參考：<span>Github - docs/spider.md</span></p>
    <li id="7.5">反饋</li>
        <p>無論是想到了很棒的點子，還是遇到了棘手的難題，您都可以在<span>Github - Issues</span>下告知我。</p>
{{end}}
{{define "zh_TW/guide-link"}}
<li><a href="#1">基本板塊</a></li>
<ul>
    <li><a href="#1.0">數據包</a></li>
    <li><a href="#1.1">作者</a></li>
    <li><a href="#1.2">標簽</a></li>
</ul>
<li><a href="#2">搜索與過濾</a></li>
<ul>
    <li><a href="#2.0">普通搜索</a></li>
    <li><a href="#2.1">精確搜索</a></li>
    <li><a href="#2.2">過濾</a></li>
</ul>
<li><a href="#3">切換語言</a></li>
<li><a href="#4">切換樣式</a></li>
<li><a href="#5">隨機瀏覽</a></li>
<li><a href="#6">API接口</a></li>
<ul>
    <li><a href="#6.0">接口規範</a></li>
</ul>
<li><a href="#7">貢獻</a></li>
<ul>
    <li><a href="#7.0">翻譯</a></li>
    <li><a href="#7.1">糾錯</a></li>
    <li><a href="#7.2">合並</a></li>
    <li><a href="#7.3">授權</a></li>
    <li><a href="#7.4">添加網站來源</a></li>
    <li><a href="#7.5">反饋</a></li>
</ul>
{{end}}

{{define "zh_TW/about"}}
<h1>關於</h1>
<li id="1">免責聲明</li>
<ul style="font-size: 0.5em">
    <li>datapack.space是壹個公益非盈利搜索網站，不出於任何商業目的。</li>
    <li>網站不包含用戶系統，僅供訪客匿名訪問。</li>
    <li>網站使用了1個cookie，僅與網站樣式相關，不涉及訪客隱私或個人信息。</li>
    <li>網站所收集的作品僅含基本信息(已授權的作品除外)，且信息僅作傳播使用，不侵犯作品本身的版權。</li>
    <li>爬蟲以遊客權限，遵循數據來源站點的訪問協議，合法爬取站點內的公開內容，與用戶隱私及版權無關。</li>
    <li>若訪客行為違反訪客當地法律並引起紛和糾造成的壹切後果，訪客自行承擔，本站概不負責。</li>
</ul>
<li id="2">開源證書</li>
<p>項目采用<a href="https://github.com/tremblestarman/datapack.space/blob/master/LICENSE">GNU General Public License v3.0</a>開源協議，已在<a href="https://github.com/tremblestarman/datapack.space">Github</a>開源。
</p>
{{end}}
{{define "zh_TW/about-link"}}
<li><a href="#1">免責聲明</a></li>
<li><a href="#2">開源證書</a></li>
{{end}}