{{define "zh_TW/website_intro_msg"}}數據包的終界 (數據包索引庫){{end}}
{{define "zh_TW/datapacks_msg"}}數據包{{end}}
{{define "zh_TW/authors_msg"}}作者{{end}}
{{define "zh_TW/tags_msg"}}標籤{{end}}
{{define "zh_TW/languages_msg"}}語言{{end}}
{{define "zh_TW/guide_msg"}}嚮導{{end}}
{{define "zh_TW/about_msg"}}關於{{end}}

{{define "zh_TW/end_crystal_msg"}}末影水晶{{end}}
{{define "zh_TW/default"}}默認{{end}}

{{define "zh_TW/post_at_msg"}}發表於{{end}}
{{define "zh_TW/update_at_msg"}}更新於{{end}}
{{define "zh_TW/goto_link_msg"}}前往原帖{{end}}
{{define "zh_TW/to_top_msg"}}回到頂部{{end}}
{{define "zh_TW/hide_msg"}}內容被隱藏，請前往原貼查看{{end}}
{{define "zh_TW/hide_a_msg"}}鏈接被隱藏，請前往原貼查看{{end}}
{{define "zh_TW/counter_msg"}}收錄署名數據包數目{{end}}
{{define "zh_TW/last_update_msg"}}最後更新時間{{end}}
{{define "zh_TW/counter_tag_msg"}}擁有該標籤的數據包數目{{end}}
{{define "zh_TW/language_tag"}}標籤默認語言{{end}}
{{define "zh_TW/synonymous_tag"}}同義標籤{{end}}

{{define "zh_TW/combo-order"}}
<select class="select-menu" id="order" data-menu>
    <option value="0">最近發布</option>
    <option value="1">發佈時間倒序</option>
    <option value="2">最近更新</option>
    <option value="3">更新時間倒序</option>
    <option value="4">按名稱排序</option>
</select>
{{end}}
{{define "zh_TW/combo-filter-post-time"}}
<select id="filter-post-time" data-menu>
    <option value="0">-</option>
    <option value="1">今天發布</option>
    <option value="2">三日內發布</option>
    <option value="3">一周內發布</option>
    <option value="4">一月內發布</option>
    <option value="5">這個月發布</option>
    <option value="6">今年發布</option>
</select>
{{end}}
{{define "zh_TW/combo-filter-update-time"}}
<select id="filter-update-time" data-menu>
    <option value="0">-</option>
    <option value="1">今天更新</option>
    <option value="2">三日內更新</option>
    <option value="3">一周內更新</option>
    <option value="4">一月內更新</option>
    <option value="5">這個月更新</option>
    <option value="6">今年更新</option>
</select>
{{end}}

{{define "zh_TW/guide"}}
<h1>嚮導</h1>
<p class="welcome">歡迎來到數據包的終末之地。 </p>
<p>這是一個數據包的世界，全世界的數據包如同“影子”一般，被投射在這裡。每一枚潛影殼下，都收藏著一個蘊含奇思妙想的數據包。現在，賦予你末影人的能力，盡情探索吧。 </p>
<p>施工中...</p>
<h2>末地島嶼</h2>
<h2>搜索與過濾</h2>
<p></p>
<h2>切換語言</h2>
<h2>隨機瀏覽</h2>
<h2>API接口</h2>
{{end}}
{{define "zh_TW/guide-link"}}
<li>末地島嶼</li>
<ul>
    <li>數據包</li>
    <li>作者</li>
    <li>標籤</li>
</ul>
<li>搜索與過濾</li>
<ul>
    <li>普通搜索</li>
    <li>精確搜索</li>
    <li>過濾</li>
</ul>
<li>切換語言</li>
<li>隨機瀏覽</li>
<li>API接口</li>
<ul>
    <li>接口規範</li>
</ul>
{{end}}

{{define "zh_TW/about"}}
<p>施工中...</p>
{{end}}