/* Generic */
@font-face {
    font-family: Minecraft;
    src: url('../font/Minecraft.eot'); /* IE9 Compat Modes */
    src: url('../font/Minecraft.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/Minecraft.woff2') format('woff2'), /* Super Modern Browsers */
    url('../font/Minecraft.woff') format('woff'), /* Pretty Modern Browsers */
    url('../font/Minecraft.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../font/Minecraft.svg#svgFontName') format('svg'); /* Legacy iOS */
}
* {
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
    font-family:"微软雅黑", Arial, sans-serif;
}
body {
    background: #202020;
    margin: 0;
    overflow-x: hidden;
}
#background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: -99999;
    background: #202020;
    background-size: cover;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}
#loading {
    position: fixed;
    left: 50%;
    font-family: Minecraft, sans-serif;
    font-size: 54px;
    width: 506px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: #DDDDDD;
    top: 50%;
    margin-left: -264px;
    margin-top: -50px;
    white-space: nowrap;
    overflow: hidden;
    animation: loading 0.5s;
    animation-iteration-count: infinite;
    transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}
@keyframes loading {
     0% {
         width: 465px;
     }
     25% {
         width: 465px;
     }
     50% {
         width: 479px;
     }
     75% {
         width: 492px;
     }
     100% {
         width: 506px;
     }
 }
.invisible {
    display: none;
}
.hide {
    opacity: 0;
}
.show {
    opacity: 1;
}
.shadow {
    filter: drop-shadow(0px 0px 12px rgba(60,48,60,0.7));
 }
span.highlight {
    color: rgba(185,62,174,0.8);
    font-weight: 800;
    text-shadow: 0 0 10px rgba(185,62,174,0.75);
}
.datapack-palette .page_turner {
    --background: rgb(144, 101, 144);
    --background-1: rgba(144, 101, 144, 0.9);
    --background-2: rgba(144, 101, 144, 0.8);
    --background-3: rgba(144, 101, 144, 0.75);
    --input-hover: rgb(122, 91, 122);
    --input-focus: rgb(166, 121, 166);
    --shadow: rgba(172, 123, 172, 0.6);
    --pillar: rgb(98, 75, 98);
    --pillar-shadow: rgba(176, 124, 176, 0.5);
    --arrow-shadow: rgba(176, 124, 176, 0.5);
    --word: rgb(98, 75, 98);
}
.datapack-palette .options {
    --background: rgb(144, 101, 144);
    --option-background: rgb(172, 123, 172);
    --option-shadow: rgba(178, 76, 216, 0.6);
    --pillar: rgb(124, 92, 124);
    --pillar-shadow: rgba(172, 123, 172, 0.74);
    --search-shadow: rgba(124, 92, 124, 0.4);
    --search-shadow-hover: rgba(124, 92, 124, 0.6);
    --search-background-focus: rgb(164, 116, 164);
    --search-shadow-focus: rgba(124, 92, 124, 0.75);
    --magnify-background: rgba(184, 126, 184, 0.7);
}
.datapack-palette .datapack-list, .datapack-unique .pillar {
    --pillar: rgb(124, 92, 124);
    --pillar-shadow: rgba(172, 123, 172, 0.74);
}
.datapack-palette .bottom {
    --background: rgb(144, 101, 144);
    --arrow-shadow: rgba(176, 124, 176, 0.5);
    --pillar: rgb(98, 75, 98);
    --pillar-shadow: rgba(176, 124, 176, 0.5);
}
.author-palette .page_turner {
    --background: rgb(40, 40, 64);
    --background-1: rgba(40, 40, 64, 0.9);
    --background-2: rgba(40, 40, 64, 0.8);
    --background-3: rgba(40, 40, 64, 0.75);
    --input-hover: rgba(82, 82, 112, 0.3);
    --input-focus: rgba(23, 23, 48, 0.75);
    --shadow: rgba(39, 30, 61, 0.6);
    --pillar: rgb(68, 68, 104);
    --pillar-shadow: rgba(39, 39, 84, 0.74);
    --arrow-shadow: rgba(72, 72, 108, 0.74);
    --word: rgb(68, 68, 104);
}
.author-palette .options {
    --background: rgb(40, 40, 64);
    --option-background: rgb(64, 64, 96);
    --option-shadow: rgba(72, 72, 108, 0.6);
    --pillar: rgb(78, 78, 118);
    --pillar-shadow: rgba(62, 62, 98, 0.74);
    --search-shadow: rgba(74, 74, 107, 0.8);
    --search-shadow-hover: rgba(82, 82, 112, 0.6);
    --search-background-focus: rgba(82, 82, 124, 0.5);
    --search-shadow-focus: rgba(72, 72, 108, 0.75);
    --magnify-background: rgba(69, 69, 106, 0.7);
}
.tag-palette .page_turner {
    --background: rgb(91, 52, 91);
    --background-1: rgba(91, 52, 91, 0.9);
    --background-2: rgba(91, 52, 91, 0.8);
    --background-3: rgba(91, 52, 91, 0.75);
    --input-hover: rgba(124, 91, 124, 0.3);
    --input-focus: rgba(108, 86, 108, 0.5);
    --shadow: rgba(58, 20, 58, 0.6);
    --pillar: rgb(71, 33, 71);
    --pillar-shadow: rgba(86, 46, 86, 0.74);
    --arrow-shadow: rgba(124, 91, 124, 0.74);
    --word: rgb(124, 91, 124);
}
.tag-palette .options {
    --background: rgb(91, 52, 91);
    --option-background: rgb(124, 91, 124);
    --option-shadow: rgba(71, 33, 71, 0.6);
    --pillar: rgb(118, 78, 118);
    --pillar-shadow: rgba(108, 82, 108, 0.74);
    --search-shadow: rgba(107, 74, 107, 0.8);
    --search-shadow-hover: rgba(112, 82, 112, 0.6);
    --search-background-focus: rgba(124, 82, 124, 0.5);
    --search-shadow-focus: rgba(108, 72, 108, 0.75);
    --magnify-background: rgba(106, 89, 106, 0.7);
}
.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}
.button {
    transition: filter 0.35s, transform 0.35s;
    -moz-transition: filter 0.35s, transform 0.35s;
    -webkit-transition: filter 0.35s, transform 0.35s;
    -o-transition: filter 0.35s, transform 0.35s;
}
svg.button:hover {
    filter: drop-shadow(0px 0px 5px rgba(60,48,60,0.7));
    transform: scale(1.5);
    cursor: pointer;
}
svg.button:active {
    transition: filter 0.2s, transform 0.35s;
    -moz-transition: filter 0.2s, transform 0.35s;
    -webkit-transition: filter 0.2s, transform 0.35s;
    -o-transition: filter 0.2s, transform 0.35s;
    filter: drop-shadow(0px 0px 3px rgba(60,48,60,0.7));
    transform: scale(1.2);
    cursor: pointer;
}
.button-down {
    transition: filter 0.35s, transform 0.35s;
    -moz-transition: filter 0.35s, transform 0.35s;
    -webkit-transition: filter 0.35s, transform 0.35s;
    -o-transition: filter 0.35s, transform 0.35s;
    transform: rotateX(180deg);
}
.button-down:hover {
    filter: drop-shadow(0px 0px 5px rgba(60,48,60,0.7));
    transform: scale(1.5) rotateX(180deg);
    cursor: pointer;
}
.button-down:active {
    transition: filter 0.2s, transform 0.35s;
    -moz-transition: filter 0.2s, transform 0.35s;
    -webkit-transition: filter 0.2s, transform 0.35s;
    -o-transition: filter 0.2s, transform 0.35s;
    filter: drop-shadow(0px 0px 3px rgba(60,48,60,0.7));
    transform: scale(1.2) rotateX(180deg);
    cursor: pointer;
}
.thumb {
    bottom: 4px;
    background-image: url("../img/css/end_crystal.png");
}
.goto {
    bottom: calc(100% - 36px);
    margin-top: -32px;
    background-image: url("../img/css/ender_pearl.png");
}
.footer-bar {
    position: relative;
    margin: 0 auto;
    width: 800px;
    height: 64px;
}
#no-result {
    position: absolute;
    top: -54px;
    left: 168px;
    width: 512px;
    height: 288px;
    background-image: url("../img/css/noresult.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    font-family: Minecraft, sans-serif;
    font-size: 72px;
    color: rgba(240,240,240,0.6);
    text-shadow: 0 0 10px rgba(240,240,240,0.6);
    text-align: center;
    z-index: 9999;
}
.back-to-top {
    float: right;
    height: 64px;
    width: 32px;
    background-image: url("../img/css/enderman.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 100%;
    opacity: 0.5;
    transition: all 0.35s;
    -moz-transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -o-transition: all 0.35s;
}
.back-to-top:hover {
    opacity: 0.8;
    cursor: pointer;
}
.back-to-top:active {
    opacity: 1;
}
/* Navigate */
.navi-bar {
    width: 0;
    position: relative;
    overflow: hidden;
    top: 0;
    height: 10px;
    box-shadow: 0 0 4px 4px rgba(110,114,82,0.3) inset;
    background: rgb(221,228,165);
    background-size: cover;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.navi-bar.folded {
    height: 10px;
    box-shadow: 0 0 4px 4px rgba(110,114,82,0.3) inset;
}
.navi-bar.unfolded {
    height: 48px;
    box-shadow: 0 0 4px 4px rgba(110,114,82,0.45) inset;
}
.navi-bar.unfolded.sub {
    height: 88px;
    box-shadow: 0 0 4px 4px rgba(110,114,82,0.6) inset;
}
.sub-bar {
    position: absolute;
    overflow: hidden;
    width: 100%;
    top: 40px;
    height: 48px;
    box-shadow: 0 0 4px 4px rgba(110,114,82,0.6) inset;
}
.navi-bar.full {
    width: 100%;
}
.navi-bar .selection {
    width: 100%;
    height: 10px;
    box-shadow: 0 0 4px 4px rgba(110,114,82,0.3);
    background: rgb(221,228,165);
    position: absolute;
    bottom: 0;
    z-index: 10;
}
.selection:hover {
    cursor: pointer;
}
.navi {
    float: right;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin-right: 40px;
    padding-right: 8px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(221,228,165);
    text-shadow: 0 0 8px rgba(32,32,32,0.9);
    opacity: 1;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.navi:hover {
    text-shadow: 0 0 4px rgba(32,32,32,0.9);
    cursor: pointer;
}
.navi:active {
    box-shadow: 0 0 4px 4px rgba(110,114,82,0.3);
}
.navi.sub {
    opacity: 0.2;
    box-shadow: 0 0 4px 4px rgba(110,114,82,0.3);
    text-shadow: 0 0 8px rgba(16,16,16,0.9);
}
.ico {
    float: left;
    display: inline-block;
    height: 40px;
    width: 40px;
    background-image: url("../img/css/advancement.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}
.ico img {
    position: relative;
    left: 8px;
    top: 3px;
    height: 23px;
    width: 23px;
}
/* Page utter */
.utter {
    margin: 0 auto;
    padding: 0 10px 10px 10px;
    width: 800px;
    transform: rotateY(90deg);
    transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -o-transition: transform 0.5s;
}
.utter.back {
    transform: rotateY(0deg);
}
.utter .datapack-list {
    margin: 0 auto;
    background: rgb(172,123,172);
    box-shadow: 0 0 20px 10px rgba(178,76,216,0.6);
    position: relative;
}
.utter .author-panel {
    margin: 0 auto;
    background: rgb(64, 64, 96);
    box-shadow: 0 0 20px 10px rgba(72, 72, 108, 0.6);
    position: relative;
}
.utter .tag-panel {
    margin: 0 auto;
    background: rgb(118, 78, 118);
    box-shadow: 0 0 20px 10px rgba(71, 33, 71, 0.6);
    position: relative;
}
.utter .guide-panel {
    margin: 0 auto;
    background: rgb(144, 100, 144);
    box-shadow: 0 0 20px 10px rgb(118, 78, 118);
    position: relative;
}
.utter .about-panel {
    margin: 0 auto;
    background: #dfdfdf;
    box-shadow: 0 0 20px 10px #888888;
    position: relative;
}
.pillar {
    height: 100%;
    width: 8px;
    display: flex;
    position: absolute;
    background: var(--pillar);
    box-shadow: 0 0 10px 4px var(--pillar-shadow) inset;
}
.pillar.left {
    left: 12px;
}
.pillar.right {
    left: 780px;
}
.bottom {
    height: 48px;
    width: 896px;
    position: relative;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    left: -48px;
    filter: drop-shadow(0px 15px 25px rgba(60,48,60,0.7));
}
.datapack-list .bottom {
    background: rgb(144,101,144);
    box-shadow: 0 0 10px 5px rgba(160,118,160,0.6);
}
.author-panel .bottom, .author-bottom.bottom {
    background: rgb(48, 48, 80);
    box-shadow: 0 0 10px 5px rgba(72, 72, 108, 0.6);
}
.bottom .more {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}
.bottom .pillar {
    height: 100%;
    width: 12px;
    display: flex;
    position: absolute;
    background: var(--pillar);
    box-shadow: 0 0 16px 5px var(--pillar-shadow) inset;
}
.bottom .pillar.left {
    left: 24px;
}
.bottom .pillar.right {
    left: 860px;
}
.bottom .pillar.left.pin {
    left: 42px;
}
.bottom .pillar.right.pin {
    left: 842px;
}
.element {
    background: rgb(221,228,165);
    width: 652px;
    margin: 1px auto;
    position: relative;
    padding: 2px;
    box-shadow: 0 0 20px 10px rgba(144,101,144,0.6) inset;
    transition: height 0.5s;
    -moz-transition: height 0.5s;
    -webkit-transition: height 0.5s;
    -o-transition: height 0.5s;
}
/* Page turner */
.page_turner {
    height: 48px;
    width: 992px;
    position: relative;
    left: -96px;
    text-align: center;
    background: var(--background);
    box-shadow: 0 0 10px 5px var(--shadow);
    filter:drop-shadow(0px 10px 15px rgba(60,48,60,0.7));
    z-index: 60;
}
.page_turner .turn {
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}
.page_turner .left {
    float: left;
    margin-left: 12px;
}
.page_turner .right {
    float: right;
    margin-right: 12px;
}
.page-info {
    position: absolute;
    margin-top: 8px;
    width: 400px;
    border-radius: 0;
    height: 32px;
    line-height: 32px;
    left: 50%;
    margin-left: -200px;
    display: inline-block;
    font-family: Minecraft, sans-serif;
    font-size: 14px;
    color: var(--word);
    transition: all 0.75s;
    -moz-transition: all 0.75s;
    -webkit-transition: all 0.75s;
    -o-transition: all 0.75s;
}
.page-info span {
    padding-left: 16px;
    font-family: Minecraft, sans-serif;
    font-size: 14px;
    color: var(--word);
}
.page-goto {
    text-align: left;
    outline-style: none;
    border: 0;
    width: 48px;
    height: 20px;
    line-height: 20px;
    padding: 0 4px;
    font-family: Minecraft, sans-serif;
    font-size: 14px;
    color: var(--word);
    background: var(--background);
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.page-goto:hover {
    background: var(--input-hover);
}
.page-goto:focus {
    background: var(--input-focus);
    box-shadow: 0 0 10px 5px var(--shadow);
}
.page-goto::selection{
    background-color: var(--background-2);
}
.page-goto::-moz-selection{
    background-color: var(--background-2);
}
.page_turner .pillar {
    height: 100%;
    width: 16px;
    display: flex;
    position: absolute;
    background: var(--pillar);
    box-shadow: 0 0 16px 5px var(--pillar-shadow) inset;
}
.page_turner .pillar.left {
    left: 48px;
}
.page_turner .pillar.right {
    left: 928px;
}
.page_turner .gear {
    position: absolute;
    height: 48px;
    width: 48px;
    left: 96px;
    top: 0;
    margin: 0;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    z-index: 1;
}
.page_turner .gear:hover {
    cursor: pointer;
    box-shadow: 0 0 16px 6px var(--background-3) inset;
}
.page_turner .option-shower {
    height: 48px;
    width: 48px;
    left: 96px;
    display: flex;
    position: absolute;
    border-radius: 24px;
    background: var(--pillar);
    box-shadow: 0 0 20px 10px var(--background-1) inset;
}
.option-shower.show {
    animation: option-show 0.5s forwards;
}
.option-shower.close {
    animation: option-close 0.5s forwards;
}
@keyframes option-close {
    0% {
        height: 48px;
        width: 48px;
        left: 96px;
        top: 0;
        box-shadow: 0 0 20px 10px var(--background-1) inset;
    }
    100% {
        height: 36px;
        width: 36px;
        left: 95px;
        top: 5px;
        box-shadow: 0 0 15px 8px var(--background-3) inset;
    }
}
@keyframes option-show {
    0% {
        height: 36px;
        width: 36px;
        left: 95px;
        top: 5px;
        box-shadow: 0 0 15px 8px var(--background-3) inset;
    }
    100% {
        height: 48px;
        width: 48px;
        left: 96px;
        top: 0;
        box-shadow: 0 0 20px 10px var(--background-1) inset;
    }
}
/* Options */
.options {
    position: relative;
    background: var(--option-background);
    box-shadow: 0 0 20px 10px var(--option-shadow);
    width: 800px;
    height: 0;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
}
.options.unfolded {
    height: 100px;
}
.options.folded {
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}
.options.unfolded#datapack {
    height: 136px;
}
.options.unfolded.accurate#datapack {
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    height: 226px;
}
.options .pillar {
    background: var(--pillar);
    box-shadow: 0 0 10px 4px var(--pillar-shadow) inset;
}
.search.accurate.double {
    width: 572px;
}
.search-bar {
    padding-top:20px;
    height: 68px;
    width: 800px;
    overflow: hidden;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.search-bar.unfolded {
    padding-top:20px;
    height: 158px;
    width: 800px;
}
label.lab {
    float: left;
    color: rgba(240,240,240,0.6);
    text-shadow: 0 0 6px rgba(240,240,240,0.2);
    width: 100px;
    font-size: 16px;
    height: 28px;
    line-height: 28px;
    box-shadow: 0 0 5px 2px rgba(124,92,124,0.4);
    opacity: 1;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.options.folded label.lab {
    opacity: 0;
    pointer-events: none;
}
input.search {
    float: left;
    text-align: left;
    outline-style: none;
    border: 0;
    width: 232px;
    height: 28px;
    line-height: 28px;
    padding: 0 4px;
    font-size: 16px;
    color: rgba(32,32,32,0.75);
    background: var(--option-background);
    box-shadow: 0 0 5px 2px var(--search-shadow);
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}
input.search:hover {
    box-shadow: 0 0 5px 2px var(--search-shadow-hover);
}
input.search:focus {
    background: var(--search-background-focus);
    box-shadow: 0 0 10px 4px var(--search-shadow-focus);
}
.search.normal {
    position: absolute;
    left: 78px;
    width: 600px;
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    box-shadow: 0 0 10px 4px var(--search-shadow);
    opacity: 1;
}
.datapack-palette .search.normal {
    left: 60px;
}
.search.normal.hide {
    left: 60px;
    width: 600px;
    height: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
}
.options.folded .search {
    opacity: 0;
    pointer-events: none;
}
.search-bar .line {
    margin-top: 10px;
    text-align: center;
    width: 800px;
    height: auto;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.line.show {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    opacity: 1;
}
.line.hide {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    opacity: 0;
}
.s-button {
    position: absolute;
    height: 36px;
    width: 36px;
    box-shadow: 0 0 10px 4px var(--search-shadow);
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    opacity: 1;
}
.s-button:hover {
    transform: translate(-2px, -2px);
    height: 40px;
    width: 40px;
    box-shadow: 0 0 10px 4px var(--search-shadow-hover);
    cursor: pointer;
}
.s-button:active {
    background: var(--search-background-focus);
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    box-shadow: 0 0 10px 4px var(--search-shadow-focus);
}
.options.folded .s-button {
    opacity: 0;
    pointer-events: none;
}
.magnify {
    background: var(--magnify-background);
    left: 688px;
}
.datapack-palette .magnify {
    left: 670px;
}
.magnify.accurate {
    left: 352px;
    width: 96px;
}
.tri {
    transform: rotateY(0deg);
    left: 708px;
}
.tri.accurate {
    transform: rotateY(180deg);
}
.tri.accurate:hover {
    transform: rotateY(180deg) translate(2px, -2px);
}
.combo-list {
    display: inline;
    height: 48px;
    position: relative;
    width: 720px;
    left: 32px;
    overflow: hidden;
}
/* Datapacks */
.datapack {
    height: 216px;
}
.datapack .cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 80%;
    position: absolute;
    width: 180px;
    height: 180px;
    left: 13px;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.cover img {
    height: 100%;
    width: auto;
    z-index: 99;
}
.cover .mask {
    box-shadow: 0 0 20px 10px rgba(178,76,216,0.6) inset;
    background-image: url("../img/css/magenta_stained_glass.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    opacity: 1.0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.mask:hover {
    cursor: pointer;
}
.mask.open {
    left: -95%;
}
.mask-attach {
    opacity: 0.4;
    position: absolute;
    left: calc(100% - 36px);
    height: 32px;
    width: 32px;
    line-height: 0;
    z-index: 99;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.mask-attach:hover {
    cursor: pointer;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    opacity: 0.7;
}
.mask-attach:active {
    opacity: 0.95;
}
.datapack .info {
    position: absolute;
    top: 0;
    left: 207px;
    width: 436px;
    height: 176px;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.name {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.info .name {
    width: 98%;
    position: relative;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 6px auto 4px auto;
    height: 24px;
    line-height: 22px;
    font-size: 20px;
    color: rgba(16, 16, 16, 0.8);
    font-weight: 800;
    z-index: 20;
}
.name:hover {
    color: #202020;
    text-shadow: 0 0 6px rgba(32,32,32,0.75);
    cursor: pointer;
}
.info .intro {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 422px;
    font-size: 14px;
    font-weight: lighter;
    position: relative;
    height: 128px;
    padding: 6px;
    margin: 0 auto;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.2) inset;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.intro .text {
    display: inline-block;
    white-space: pre-wrap;
    font-size: 0.965em;
}
.intro .time {
    margin: 0 auto;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 98%;
    height: 14px;
    font-size: 10px;
    color: #AAAAAA;
}
.intro .mobile-time {
    display:none;
}
.datapack .attachments {
    position: absolute;
    left: 207px;
    width: 436px;
    top: 176px;
    height: 40px;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.attachments .author {
    float: left;
    width: 160px;
    height: 40px;
}
.datapack .avatar {
    float: left;
    height: 34px;
    width: 34px;
    text-align: center;
    margin-top: 3px;
    padding-top: 2px;
    padding-left: 2px;
}
.datapack .avatar img {
    height: 32px;
    width: auto;
}
.avatar img:hover {
    cursor: pointer;
}
.datapack .author .name {
    float: left;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 120px;
    text-align: left;
    height: 34px;
    line-height: 34px;
    margin: 4px 0 0 0;
    padding-left: 4px;
    font-size: 12px;
}
.attachments .tags {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    width: 276px;
    height: 40px;
}
div#tag_list {
     --w: 0px;
     --h: 0px;
     position: absolute;
     overflow: hidden;
     width: var(--w);
     height: var(--h);
 }
.tags .tag, .tag-container .tag, div#tag_list .tag, .head .tag {
    float: left;
    line-height: 8px;
    padding: 4px;
    margin-left: 5px;
    margin-top: 10px;
    font-size: 12px;
}
div#tag_list .tag {
    --l: 0px;
    --t: 0px;
    --w: 0px;
    --h: 0px;
    --s: 1;
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    text-align: center;
    transform-origin: 0 0;
    opacity: 1;
    left: var(--l);
    top: var(--t);
    transform: scale(var(--s));
}
div#tag_list.transparent .tag {
    opacity: 0.5;
}
div#tag_list.transparent .tag.related {
    opacity: 1;
}
canvas#canvas {
    position: absolute;
}
div#datapack_box {
    --t: 0px;
    top: var(--t);
    left: 25%;
    position: absolute;
    width: 50%;
}
div#datapack_box .head {
    height: 32px;
}
.head .left {
    width: 0;
    height: 0;
    border-right: 10px solid #ccc;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.head .right {
    width: 0;
    height: 0;
    border-left: 10px solid #cccf;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.tag:hover {
    cursor: pointer;
}
.tag-0 {
    border: 3px solid transparent;
    border-image: url("../img/css/tag-border-0.png") 3 round;
    background: rgba(58, 179, 218, 0.5);
}
.tag-1 {
    border: 3px solid transparent;
    border-image: url("../img/css/tag-border-1.png") 3 round;
    background: rgba(113, 188, 24, 0.5);
}
.tag-2 {
    border: 3px solid transparent;
    border-image: url("../img/css/tag-border-2.png") 3 round;
    background: rgba(22, 135, 146, 0.5);
}
.tag-3 {
    border: 3px solid transparent;
    border-image: url("../img/css/tag-border-3.png") 3 round;
    background: rgba(158, 113, 158, 0.5);
}
.attachments .datapacks {
    margin-top: 32px;
}
.datapacks .r-dp-msg {
    height: 20px;
    font-size: 14px;
    color: rgba(64,64,64,0.56);
    text-shadow: 0 0 3px rgba(32,32,32,0.2);
    text-align: left;
    padding: 4px 8px;
}
.datapack-unique {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgb(172,123,172), rgb(164,110,164), rgb(172,123,172));
    box-shadow: 0 0 20px 10px rgba(178,76,216,0.6);
    position: relative;
    overflow: hidden;
}
.shulker-top {
    width: 800px;
    height: 24px;
    position: relative;
}
.shulker-bottom {
    width: 800px;
    height: 24px;
    position: relative;
}
.shulker-shell {
    height: 48px;
    width: 896px;
    position: relative;
    left: -48px;
    text-align: center;
    background: rgb(144,101,144);
    box-shadow: 0 0 8px 4px rgba(64,64,64,0.25);
    z-index: 60;
}
.shulker-shell .shell-part {
    width: 400px;
    height: 64px;
    position: absolute;
    left: 248px;
    text-align: center;
    line-height: 64px;
    font-weight: bold;
    font-size: 24px;
    color: rgb(144,101,144);
    background: rgb(144,101,144);
    text-shadow: 0 0 5px rgba(64,64,64,0.6);
    box-shadow: 0 0 6px 3px rgba(48,48,48,0.1);
    z-index: 60;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.shulker-shell .shell-part.left {
    width: 200px;
    height: 64px;
    left: 0;
    top: -12px;
}
.shulker-shell .shell-part.right {
    width: 200px;
    height: 64px;
    left: 696px;
    top: -12px;
}
.shulker-shell .shell-part:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 5px rgba(48,48,48,0.2);
}
.shulker-shell .shell-part:active {
    cursor: pointer;
    background: rgb(138,101,138);
    box-shadow: 0 0 12px 6px rgba(48,48,48,0.2);
}
.link-button {
    margin-top: 14px;
}
span .link-button {
    margin-top: 0;
    height: 24px;
    width: 24px;
    float: right;
}
.datapack-unique .text {
    width: 636px;
}
.datapack-unique img {
    max-width: 634px;
}
hide {
    background-image: url("../img/css/lock.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    height: 32px;
    width: 32px;
    padding: 0 10px;
    transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}
hide:hover {
    cursor: pointer;
    opacity: 0.5;
}
hide_a {
    opacity: 0.8;
    transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}
hide_a:hover {
    cursor: pointer;
    opacity: 0.5;
}
/* Author */
.author-container {
    position: relative;
    width: 656px;
    background: rgb(221,228,165);
    padding: 2px;
    box-shadow: 0 0 20px 10px rgba(40,40,64,0.6) inset;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1px auto 16px;
}
.author-container .author {
    height: 72px;
    width: 144px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 8px;
    transition: box-shadow 0.5s, background-color 0.5s;
}
.author-container .author:hover {
    transition: box-shadow 0.5s, background-color 3s;
    box-shadow: 0 0 4px 4px rgba(110,114,82,0.2);
    background-color: #EEEEEE;
    cursor: pointer;
}
.author-container .author:active {
    box-shadow: 0 0 6px 6px rgba(110,114,82,0.3);
}
.author-container .avatar {
    position: absolute;
    top: 16px;
    margin: 2px;
    width: 48px;
    height: 48px;
    transition: box-shadow 0.5s;
    box-shadow: 0 0 5px 5px rgba(110,114,82,0.18);
}
.author-container .avatar.show {
    transition: box-shadow 3s;
    box-shadow: 0 0 2px 2px rgba(64,64,64,0.45);
}
.author-container .avatar img {
    height: 48px;
    width: auto;
}
.author-container .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 16px;
    font-size: 12px;
    padding-left: 4px;
    transition: text-shadow 0.5s;
    z-index: 1;
}
.author-container .author .back {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;
    background-color: #FAFAFA;
    opacity: 0;
    pointer-events: none;
    transition: left 0.5s linear, opacity 0.5s ease;
}
.author-container .author .back.show {
    transition: left 3s ease-out;
    left: 0;
    opacity: 1;
}
.author-unique {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgb(64, 64, 96), rgb(72, 72, 108), rgb(64, 64, 96));
    box-shadow: 0 0 20px 10px rgba(72, 72, 108, 0.6);
    position: relative;
    overflow: hidden;
}
.dragon {
    margin: 20px auto 0;
    width: 400px;
    height: 120px;
    background: transparent url("../img/css/ender_dragon.png") no-repeat center top;
    background-size: 100% auto;
}
.dragon-bottom {
    width: 800px;
    height: 24px;
    position: relative;
}
.author.element {
    width: 656px;
    background: rgb(221,228,165);
    padding: 2px;
    box-shadow: 0 0 20px 10px rgba(40,40,64,0.6) inset;
}
.author-unique .info {
    position: relative;
    width: 100%;
    height: 128px;
}
.author-unique .avatar {
    width: 124px;
    height: 124px;
    position: absolute;
    padding: 4px;
}
.author-unique .avatar img {
    width: 120px;
    height: 120px;
}
.author-unique .info .name {
    position: absolute;
    left: 128px;
    width: auto;
    height: 36px;
    text-align: left;
    padding: 4px 8px;
}
.author-unique .info .counter {
    position: absolute;
    left: 128px;
    width: auto;
    top: 38px;
    height: 20px;
    font-size: 12px;
    color: rgba(64,64,64,0.56);
    text-shadow: 0 0 3px rgba(32,32,32,0.2);
    text-align: left;
    padding: 4px 8px;
}
.author-unique .info .last-update {
    position: absolute;
    left: 128px;
    width: auto;
    top: 54px;
    height: 20px;
    font-size: 12px;
    color: rgba(64,64,64,0.56);
    text-shadow: 0 0 3px rgba(32,32,32,0.2);
    text-align: left;
    padding: 4px 8px;
}
.author-unique .thumb {
    position: absolute;
    height: 32px;
    width: 32px;
    margin: 2px 4px;
    right: 0;
    bottom: 0;
}
.author-unique .info .sources.tags {
    position: absolute;
    display: flex;
    top: 90px;
    left: 128px;
    float: left;
    line-height: 8px;
    height: auto;
    max-width: 488px;
    padding: 4px;
    font-size: 12px;
    overflow: hidden;
}
.author-unique .datapacks {
    display: flex;
    flex-wrap: wrap;
}
.datapack-short {
    border-top-color: rgba(128,128,128,0.3);
    border-top-style: solid;
    border-top-width: 1px;
    display: flex;
    justify-content: space-between;
    height: 36px;
    width: 100%;
    transition: box-shadow 0.5s;
}
.datapack-short:hover {
    box-shadow: 0 0 6px 3px rgba(40,40,64,0.12);
}
.datapack-short .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 40%;
    height: 100%;
    line-height: 36px;
    margin-left: 8px;
    text-align: left;
    font-size: 14px;
    color: rgba(32,32,32,0.68);
}
.datapack-short .tags {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 55%;
    height: 100%;
}
.datapack-short .tag {
    margin-top: 8px;
}
.datapack-short ._goto {
    position: relative;
    background-image: url("../img/css/ender_pearl.png");
    width: 32px;
    height: 32px;
    left: 0;
}
/* Tag */
.tag-container {
    position: relative;
    width: 656px;
    background: rgb(221,228,165);
    padding: 4px;
    box-shadow: 0 0 20px 10px rgba(40,40,64,0.6) inset;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    margin: 0 auto;
}
.tag-container .grid {
    width:656px;
}
.tag-container .tag {
    float: left;
    --w: calc(10% - 6px);
    width: var(--w);
    height: 32px;
    line-height: 32px;
    margin-top: 0;
    padding: 0;
    margin-left: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}
.tag-container .sizer {
    width: 10%;
}
.tag-unique {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgb(91, 52, 91), rgb(101, 56, 101), rgb(91, 52, 91));
    box-shadow: 0 0 20px 10px rgba(101, 56, 101, 0.6);
    position: relative;
    overflow: hidden;
}
.tag.element {
    width: 656px;
    background: rgb(221, 228, 165);
    padding: 2px;
    box-shadow: 0 0 20px 10px rgba(72, 36, 72, 0.6) inset;
}
.bottom .tag {
    height: 18px;
    line-height: 18px;
    padding: 4px 8px;
    font-size: 16px;
}
.tag-unique .info {
    width: 100%;
    height: 28px;
}
.tag-unique .info .stats {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: rgba(64,64,64,0.56);
    text-shadow: 0 0 3px rgba(32,32,32,0.2);
    text-align: left;
    padding: 4px 8px;
}
.stats.language {
    float: left;
}
.stats.counter {
    float: right;
}
.tag-unique .synonymous {
    border-top-color: rgba(128,128,128,0.3);
    border-top-style: solid;
    border-top-width: 1px;
}
.tag-unique .synonymous .title {
    width: 100%;
    height: 20px;
    line-height: 24px;
    font-size: 12px;
    color: rgba(64,64,64,0.56);
    text-shadow: 0 0 3px rgba(32,32,32,0.2);
    text-align: center;
}
.tag-unique .synonymous .tags {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    padding: 4px 0;
}
.tag-unique .synonymous .tags .tag {
    margin-top: 0;
}
/* Language */
.languages {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 100px auto;
    min-height: 300px;
    width: 300px;
    background-color: #202020;
}
.languages .language {
    height: 48px;
    width: 180px;
    background-color: #804080;
    text-align: center;
    line-height: 48px;
    font-size: 24px;
    font-weight: 900;
    color: #804080;
    text-shadow: 0 0 12px rgba(32,32,32,0.9);
    transition: all 0.5s;
}
.languages .language:hover {
    font-size: 28px;
    background-color:  #603060;
    cursor: pointer;
}
/* Guide */
.guide-panel {
    position: relative;
    color: rgb(72, 36, 72);
    padding: 20px 60px;
}
.guide-link {
    border-bottom: rgba(72,72,72,0.3) solid 1px;
    border-left: rgba(72,72,72,0.3) solid 1px;
}
.doc-navigate {
    position: relative;
    clear: right;
    float: right;
    margin: 0 0 1em 1em;
    padding: 0 0 20px 20px;
    width: 200px;
    top: 20px;
}
.doc-navigate ul {
    margin-block-start: 0;
    margin-block-end: 0;
}
.doc li {
    margin-block-start: 0.75em;
    list-style-type: circle;
}
.doc-navigate ul li {
    margin-block-start: 0;
    font-size: 0.875em;
}
.doc h1,h2,h3 {
    overflow: hidden;
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}
.doc h1,h2,h3,li {
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
}
.doc h1.h,h2.h,h3.h,li.h {
    transition: all 0.1s;
    -moz-transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    color: #EEEEEE;
}
.doc h1,h2 {
    border-bottom: rgba(72,72,72,0.3) solid 1px;
}
.doc h2 {
    border-bottom-color: rgba(72,72,72,0.1);
}
.doc p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-size: 0.875em;
    line-height: inherit;
    margin: 0.5em 0;
}
.doc a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}
.doc button {
    height: 32px;
    line-height: 32px;
    padding: 0 8px;
    margin: 0 8px;
    font-size: 16px;
    border: rgba(72,72,72,0.25) solid 1px;
    border-radius: 3px;
    background: transparent;
    color: inherit;
    transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
}
.doc button:hover {
    cursor: pointer;
    border-color: rgba(72,72,72,0.5);
    background: transparent;
}
/* About */
.about-panel {
    position: relative;
    color: #666666;
    padding: 20px 60px;
}
.about-link {
    border-bottom: rgba(144,144,144,0.3) solid 1px;
    border-left: rgba(144,144,144,0.3) solid 1px;
}

/* Responsive */
/* Low resolution 800px ~ 996px */
@media only screen and (min-width: 800px) and (max-width: 996px) {
    /* Layout */
    .page_turner {
        width: 800px;
        left: -40px;
    }
    .utter {
        width: 720px;
    }
    .page_turner .pillar.right {
        left: 724px;
    }
    .pillar.right {
        left: 700px;
    }
    .bottom {
        width: 754px;
        left: -16px;
    }
    .bottom .pillar.right {
        left: 716px;
    }
    .bottom .pillar.left.pin {
        left: 10px;
    }
    .bottom .pillar.right.pin {
        left: 730px;
    }
    /* Options */
    .options {
        width: 720px;
    }
    .search.normal {
        width: 520px;
    }
    .magnify {
        left: 608px;
    }
    .datapack-palette .magnify {
        left: 590px;
    }
    .tri {
        transform: rotateY(0deg);
        left: 628px;
    }
    div.select-menu {
        margin: 0 0;
    }
    /* Datapack */
    .shulker-shell {
        width: 800px;
    }
    .shulker-shell .shell-part {
        left: 200px;
    }
    .shulker-shell .shell-part.right {
        left: 600px;
    }
}
/* Mobile or Large Screen*/
@media only screen and (max-device-width: 600px), (min-device-width: 2160px) {
    .page_turner {
        width: 960px;
        left: -60px;
        height: 96px;
    }
    .utter {
        width: 840px;
    }
    .page_turner .pillar.right {
        left: 884px;
    }
    .page_turner .turn {
        margin-top: 24px;
        transform: scale(2);
    }
    .pillar.right {
        left: 822px;
    }
    .bottom {
        width: 900px;
        left: -30px;
    }
    .bottom .more {
        display: none;
    }
    .bottom .pillar.right {
        left: 862px;
    }
    .bottom .pillar.left.pin {
        left: 24px;
    }
    .bottom .pillar.right.pin {
        left: 864px;
    }
    /* Navigate */
    .navi-bar {
        height: 20px;
    }
    .navi-bar.folded {
        height: 20px;
    }
    .navi-bar.unfolded {
        height: 96px;
    }
    .navi-bar.unfolded.sub {
        height: 176px;
    }
    .sub-bar {
        top: 80px;
        height: 96px;
    }
    .navi-bar .selection {
        height: 20px;
    }
    .navi {
        height: 80px;
        line-height: 80px;
        margin-right: 40px;
        padding-right: 16px;
        font-size: 40px;
    }
    .ico {
        height: 80px;
        width: 80px;
    }
    .ico img {
        left: 16px;
        top: 6px;
        height: 46px;
        width: 46px;
    }
    /* Page-turner */
    .page_turner .gear {
        top: 24px;
        left: 128px;
        transform: scale(2);
    }
    .page_turner .option-shower {
        height: 96px;
        width: 96px;
        left: 128px;
        border-radius: 48px;
    }
    @keyframes option-close-m {
        0% {
            height: 96px;
            width: 96px;
            left: 102px;
            top: 0;
            box-shadow: 0 0 40px 20px var(--background-1) inset;
        }
        100% {
            height: 72px;
            width: 72px;
            left: 102px;
            top: 10px;
            box-shadow: 0 0 30px 16px var(--background-3) inset;
        }
    }
    @keyframes option-show-m {
        0% {
            height: 72px;
            width: 72px;
            left: 102px;
            top: 10px;
            box-shadow: 0 0 30px 16px var(--background-3) inset;
        }
        100% {
            height: 96px;
            width: 96px;
            left: 102px;
            top: 0;
            box-shadow: 0 0 40px 20px var(--background-1) inset;
        }
    }
    .option-shower.show {
        animation: option-show-m 0.5s forwards;
    }
    .option-shower.close {
        animation: option-close-m 0.5s forwards;
    }
    .page-info {
        margin-top:12px;
        height: 72px;
        line-height: 72px;
        font-size: 1.6em;
        width: 720px;
        margin-left: -360px;
    }
    .page-goto {
        width: 80px;
        height: 64px;
        line-height: 64px;
        font-size: 1em;
    }
    .page-info span {
        font-size: 1em;
    }
    /* Options */
    .options {
        width: 840px;
    }
    .options.folded {
        transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        -webkit-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
    }
    .options.unfolded {
        height: 132px;
        transition: all 0.35s ease-out;
        -moz-transition: all 0.35s ease-out;
        -webkit-transition: all 0.35s ease-out;
        -o-transition: all 0.35s ease-out;
    }
    .options.unfolded#datapack {
        height: 340px;
    }
    .options.folded#datapack {
        transition: all 1.1s cubic-bezier(0.92, 0.18, 0.52, 0.74);
        -moz-transition: all 1.1s cubic-bezier(0.92, 0.18, 0.52, 0.74);
        -webkit-transition: all 1.1s cubic-bezier(0.92, 0.18, 0.52, 0.74);
        -o-transition: all 1.1s cubic-bezier(0.92, 0.18, 0.52, 0.74);
    }
    .options.unfolded.accurate#datapack {
        height: 570px;
    }
    .line {
        margin-bottom: 52px;
    }
    .search-bar {
        height: 108px
    }
    .search-bar.unfolded {
        padding-top:20px;
        height: 336px;
        width: 800px;
    }
    input.search, label.lab {
        height: 64px;
        line-height: 64px;
    }
    input.search {
        font-size: 2em;
    }
    label.lab {
        width: 200px;
        font-size: 1.8em;
    }
    .search.accurate, .search.accurate.double {
        width: 500px;
    }
    .search.normal {
        width: 600px;
        height: 72px;
        font-size: 2em;
    }
    .datapack-palette .search.normal {
        left: 40px
    }
    .s-button, .s-button:hover, .s-button:active {
        height: 36px;
        width: 36px;
        transform: scale(2);
    }
    .magnify {
        left: 708px;
        top: 49px;
    }
    .datapack-palette .magnify {
        top: 48px;
        left: 668px;
    }
    .magnify.accurate {
        left: 382px;
    }
    .tri, .tri:hover, .tri:active {
        top: 48px;
        transform: scale(2) rotateY(0deg);
        left: 742px;
    }
    .tri.accurate, .tri.accurate:hover, .tri.accurate:active {
        transform: scale(2) rotateY(180deg);
    }
    .combo-list {
        display: flex;
        justify-content: left;
        align-items: center;
        overflow: visible;
        height: 200px;
        flex-wrap: wrap;
        width: 720px;
        left: 180px;
    }
    div.select-menu {
        transform: scale(2);
        display: block;
        margin: 12px 200px 24px 0;
    }
    /* Datapack */
    .element {
        width: 760px;
    }
    .datapack {
        height: auto;
    }
    .datapack .cover {
        position: relative;
    }
    .datapack .attachments {
        position: relative;
    }
    .datapack .cover {
        left: 12px;
        top: 12px;
        width: 240px;
        height: 240px;
    }
    .datapack .info {
        position: absolute;
        left: 268px;
        top: 12px;
        width: 480px;
        height: 240px;
    }
    .info .name {
        width: 472px;
        height: 56px;
        line-height: 56px;
        font-size: 2.375em;
        font-weight: 600;
        text-align: left;
    }
    .info .intro {
        border-top-color: rgba(128,128,128,0.3);
        border-top-style: solid;
        border-top-width: 2px;
        width: 472px;
        height: 80px;
        box-shadow: none;
        display: flex;
        flex-wrap: wrap-reverse;
        padding: 8px 0;
        margin-top: 94px;
    }
    .intro .time {
        display: none;
    }
    .intro .mobile-time {
        display: block;
        margin: 0 auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 98%;
        height: 40px;
        line-height: 40px;
        font-size: 2.1em;
        color: #666666;
    }
    .mobile-time span {
        float: right;
    }
    .intro .text {
        display: none;
    }
    .datapack  .attachments {
        border-top-color: rgba(128,128,128,0.3);
        border-top-style: solid;
        border-top-width: 2px;
        top: 0;
        margin-top: 24px;
        left: 2px;
        width: 758px;
        height: 84px;
    }
    .attachments .author {
        width: 256px;
        height: 80px;
    }
    .datapack .avatar {
        height: 68px;
        width: 68px;
        margin-top: 6px;
        padding-top: 4px;
        padding-left: 4px;
    }
    .datapack .avatar img {
        height: 64px;
    }
    .datapack .author .name {
        width: 174px;
        text-align: left;
        height: 68px;
        line-height: 68px;
        margin: 8px 0 0 0;
        padding-left: 8px;
        font-size: 24px;
    }
    .attachments .datapacks {
        margin-top: 0;
    }
    .datapacks .r-dp-msg {
        height: 40px;
        font-size: 28px;
        padding: 8px 16px;
    }
    .attachments .tags {
        width: 432px;
        height: 80px;
    }
    .tags .tag, .tag-container .tag {
        padding: 8px;
        margin-left: 10px;
        margin-top: 24px;
        font-size: 24px;
    }
    .tags .tag {
        line-height: 20px;
    }
    .shulker-shell {
        width: 938px;
    }
    .shulker-shell .shell-part {
        left: 280px;
    }
    .shulker-shell .shell-part.right {
        left: 738px;
    }
    span .link-button {
        margin-top: 4px;
        height: 48px;
        width: 48px;
    }
    /* Author */
    .author-container {
        width: 780px;
    }
    .author-container .author {
        height: 144px;
        width: 240px;
    }
    em.anchor {
        display: none;
    }
    .author-container .avatar {
        top: 32px;
        margin: 4px;
        width: 96px;
        height: 96px;
    }
    .author-container .avatar img {
        height: 96px;
    }
    .author-container .name {
        height: 32px;
        font-size: 24px;
        padding-left: 8px;
    }
    .author.element {
        width: 780px;
        padding: 4px;
    }
    .author-unique .info {
        height: 256px;
    }
    .author-unique .avatar {
        width: 248px;
        height: 248px;
        padding: 8px;
    }
    .author-unique .avatar img {
        width: 240px;
        height: 240px;
    }
    .author-unique .info .name {
        left: 256px;
        height: 72px;
        padding: 8px 16px;
    }
    .author-unique .info .counter, .author-unique .info .last-update {
        left: 256px;
        top: 76px;
        height: 40px;
        font-size: 24px;
        padding: 8px 16px;
    }
    .author-unique .info .last-update {
        top: 108px;
    }
    .author-unique .info .sources.tags {
        top: 178px;
        left: 254px;
        line-height: 16px;
        max-width: 716px;
        padding: 8px;
        font-size: 24px;
    }
    .datapack-short {
        border-top-width: 2px;
        height: 96px;
        flex-wrap: wrap;
    }
    .datapack-short .name {
        height: 40px;
        width: 100%;
        line-height: 40px;
        margin-left: 16px;
        font-size: 28px;
        text-shadow: 0 0 3px rgba(32,32,32,0.3);
    }
    .datapack-short .tags {
        height: 56px;
        width: 100%;
        margin-left: 4px;
    }
    .datapack-short .tag {
        margin-top: 8px;
    }
    .datapack-short ._goto {
        display: none;
    }
    /* Tag */
    .tag-container, .tag-container .grid {
        width: 780px;
    }
    .tag-container .tag {
        margin-top: 0;
        margin-left: 0;
    }
    .bottom .tag {
        height: 36px;
        line-height: 36px;
        padding: 0 8px;
        font-size: 28px;
    }
    .tag-unique .info {
        height: 56px;
    }
    .tag-unique .info .stats {
        height: 40px;
        line-height: 40px;
        font-size: 20px;
    }
    /* Language */
    .languages {
        width : 600px;
    }
    .languages .language {
        height: 96px;
        width: 360px;
        line-height: 96px;
        font-size: 48px;
        margin: 20px;
    }
    .languages .language:hover {
        font-size: 56px;
    }
    /* Guide */
    .doc button {
        height: 48px;
        line-height: 48px;
        padding: 0 12px;
        margin: 0 12px;
        font-size: 24px;
        border-radius: 6px;
    }
    .doc h1, h2 {
        border-bottom-width: 3px;
    }
    .doc h2 {
        border-bottom-color: rgba(72,72,72,0.2);
    }
    .doc h1, h2, h3 {
        margin-block-start: 2.5em;
    }
    .doc li {
        margin-block-start: 1.25em;
    }
    .doc-navigate {
        display: none;
    }
}