{{define "combo/source"}}
<select id="filter-source" data-menu>
    <option value="0">-</option>
    <option value="mcbbs">mcbbs</option>
</select>
{{end}}
{{define "combo/version"}}
<select id="filter-version" data-menu>
    <option value="0">-</option>
    <option value="1.13">1.13</option>
    <option value="1.14">1.14</option>
    <option value="1.15">1.15</option>
    <option value="other">other</option>
</select>
{{end}}