{{define "combo/source"}}
<select id="filter-source" data-menu>
    <option value="0">-</option>
    <option value="planetminecraft">planetminecraft</option>
</select>
{{end}}
{{define "combo/version"}}
<select id="filter-version" data-menu>
    <option value="0">-</option>

</select>
{{end}}