{{define "combo/source-temp"}}
<select id="filter-source" data-menu>
    <option value="0">-</option>
%%s%%
</select>
{{end}}
{{define "combo/version-temp"}}
<select id="filter-version" data-menu>
    <option value="0">-</option>
%%v%%
</select>
{{end}}