{{define "zh_CN/guide.html"}}
    {{template "zh_CN/header" .}}
    <div class="guide-panel doc">
        <div class="guide-link doc-navigate">
            {{template "zh_CN/guide-link"}}
        </div>
        {{template "zh_CN/guide"}}
    </div>
    <script>
        function change_style(style) {
            document.cookie = "style=" + escape(style);
            location.reload(true);
        }
        function randomize(target) {
            nUrl = window.location.protocol + "//" + window.location.host + "/random/" + target;
            this.location = nUrl;
            window.location.href = nUrl;
        }
        function show_options() {
            console.log("just a fake button.");
        }
        document.addEventListener('click', function(e) {
            let target = e.target;
            if (target.matches('a')) {
                let jump = document.getElementById(target.href.replace(/.*#/,''));
                if (!jump.classList.contains('h')) {
                    jump.classList.add('h');
                }
                setTimeout(function () {
                    jump.classList.remove('h');
                }, 100);
            }
        }, false);
    </script>
{{end}}