{{define "zh_CN/website_intro_msg"}}数据包的终界 (数据包索引库){{end}}
{{define "zh_CN/datapacks_msg"}}数据包{{end}}
{{define "zh_CN/authors_msg"}}作者{{end}}
{{define "zh_CN/tags_msg"}}标签{{end}}
{{define "zh_CN/languages_msg"}}语言{{end}}
{{define "zh_CN/guide_msg"}}向导{{end}}
{{define "zh_CN/about_msg"}}关于{{end}}

{{define "zh_CN/end_crystal_msg"}}末影水晶{{end}}
{{define "zh_CN/default"}}默认{{end}}

{{define "zh_CN/post_at_msg"}}发表于{{end}}
{{define "zh_CN/update_at_msg"}}更新于{{end}}
{{define "zh_CN/goto_link_msg"}}前往原帖{{end}}
{{define "zh_CN/to_top_msg"}}回到顶部{{end}}
{{define "zh_CN/hide_msg"}}内容被隐藏，请前往原贴查看{{end}}
{{define "zh_CN/hide_a_msg"}}链接被隐藏，请前往原贴查看{{end}}
{{define "zh_CN/counter_msg"}}收录署名数据包数目{{end}}
{{define "zh_CN/last_update_msg"}}最后更新时间{{end}}
{{define "zh_CN/counter_tag_msg"}}拥有该标签的数据包数目{{end}}
{{define "zh_CN/language_tag"}}标签默认语言{{end}}
{{define "zh_CN/synonymous_tag"}}同义标签{{end}}

{{define "zh_CN/combo-order"}}
<select class="select-menu" id="order" data-menu>
    <option value="0">最近发布</option>
    <option value="1">发布时间倒序</option>
    <option value="2">最近更新</option>
    <option value="3">更新时间倒序</option>
    <option value="4">按名称排序</option>
</select>
{{end}}
{{define "zh_CN/combo-filter-post-time"}}
<select id="filter-post-time" data-menu>
    <option value="0">-</option>
    <option value="1">今天发布</option>
    <option value="2">三日内发布</option>
    <option value="3">一周内发布</option>
    <option value="4">一月内发布</option>
    <option value="5">这个月发布</option>
    <option value="6">今年发布</option>
</select>
{{end}}
{{define "zh_CN/combo-filter-update-time"}}
<select id="filter-update-time" data-menu>
    <option value="0">-</option>
    <option value="1">今天更新</option>
    <option value="2">三日内更新</option>
    <option value="3">一周内更新</option>
    <option value="4">一月内更新</option>
    <option value="5">这个月更新</option>
    <option value="6">今年更新</option>
</select>
{{end}}

{{define "zh_CN/guide"}}
<h1>向导</h1>
<p>欢迎来到数据包的末地。</p>
<p>施工中...</p>
<h2>进行搜索</h2>
<h2>过滤信息</h2>
<h2>切换语言</h2>
<h2>随机器</h2>
<h2>API接口</h2>
{{end}}
{{define "zh_CN/guide-link"}}
<li>进行搜索</li>
<li>过滤信息</li>
<li>切换语言</li>
<li>随机器</li>
<li>API接口</li>
{{end}}

{{define "zh_CN/about"}}
<p>施工中...</p>
{{end}}