{{define "default/about.html"}}
    {{template "default/header" .}}
    <div class="about-panel doc">
        <div class="about-link doc-navigate">
            {{template "default/about-link"}}
        </div>
        {{template "default/about"}}
    </div>
    <script>
        document.addEventListener('click', function(e) {
            let target = e.target;
            if (target.matches('a')) {
                let jump = document.getElementById(target.href.replace(/.*#/,''));
                if (!jump.classList.contains('h')) {
                    jump.classList.add('h');
                }
                setTimeout(function () {
                    jump.classList.remove('h');
                }, 100);
            }
        }, false);
    </script>
{{end}}