{{define "default/tags.html"}}
    {{template "default/header" .}}
    {{template "default/page_turner_top" .}}
    <div class="options folded" id="tag">
        <div class="pillar left"></div>
        <div class="pillar right"></div>
        <div class="search-bar folded">
            <div class="line" style="height: 52px;"><input class="search normal" id="normal-search" type="text" value="" onkeypress="search_tags_keyboard()"/>
                {{template "icon/magnify" .}}
            </div>
        </div>
    </div>
    <div class="menu">
        <div class="tag-panel tag-palette" style="--pillar: rgb(91, 63, 91);--pillar-shadow: rgba(106, 66, 106, 0.74);">
            <div class="pillar left"></div>
            <div class="pillar right"></div>
            <div class="bottom" style="--pillar: rgb(71, 33, 71);--pillar-shadow: rgba(86, 46, 86, 0.74);">
                <div class="pillar left" style="left:42px;"></div>
                <div class="pillar right" style="left:842px;"></div>
            </div>
            {{if ne .NoResult true}}
            <div class="tag-container">
                {{range .Tags}}
                    <div class="tag tag-{{.Type}}" id="{{.ID}}" onclick="jump_tag({{.ID}})">{{.Tag | unescaped}}</div>
                {{end}}
            </div>
            <div class="bottom" style="--pillar: rgb(71, 33, 71);--pillar-shadow: rgba(86, 46, 86, 0.74);">
                <div class="pillar left" style="left:42px;"></div>
                <div class="pillar right" style="left:842px;"></div>
            </div>
            {{end}}
        </div>
    </div>
    {{template "default/page_turner_bottom" .}}
    <div class="footer-bar">
        {{if .NoResult}}
            <div id="no-result">???</div>
        {{end}}
    </div>
    <link rel="stylesheet" href="/bin/css/noise.css" type="text/css"/>
    {{template "default/footer"}}
    <script>
        option_tags_default();
    </script>
{{end}}