{{define "default/tags.html"}}
    {{template "default/header" .}}
    {{template "default/page_turner_top" .}}
    <div class="options folded" id="tag">
        <div class="pillar left"></div>
        <div class="pillar right"></div>
        <div class="search-bar folded">
            <div class="line" style="height: 52px;"><input class="search normal" id="normal-search" type="text" value="" onkeypress="search_tags_keyboard()"/>
                {{template "icon/magnify" .}}
            </div>
        </div>
    </div>
    <div class="menu">
        <div class="tag-panel tag-palette" style="--pillar: rgb(91, 63, 91);--pillar-shadow: rgba(106, 66, 106, 0.74);">
            <div class="pillar left"></div>
            <div class="pillar right"></div>
            <div class="bottom" style="--pillar: rgb(71, 33, 71);--pillar-shadow: rgba(86, 46, 86, 0.74);">
                <div class="pillar left pin"></div>
                <div class="pillar right pin"></div>
            </div>
            {{if ne .NoResult true}}
            <div class="tag-container">
                <div class="grid">
                    <div class="sizer"></div>
                    {{range .Tags}}
                        <div class="tag tag-{{.Type}}" id="{{.ID}}" onclick="jump_tag({{.ID}})" weight="{{.Quotation}}">{{.Tag | unescaped}} ({{.Quotation}})</div>
                    {{end}}
                </div>
            </div>
            <div class="bottom" style="--pillar: rgb(71, 33, 71);--pillar-shadow: rgba(86, 46, 86, 0.74);">
                <div class="pillar left pin"></div>
                <div class="pillar right pin"></div>
            </div>
            {{end}}
        </div>
    </div>
    {{template "default/page_turner_bottom" .}}
    <div class="footer-bar">
        {{if .NoResult}}
            <div id="no-result">???</div>
        {{end}}
    </div>
    <link rel="stylesheet" href="/bin/css/noise.css" type="text/css"/>
    {{template "default/footer"}}
    <script src="/bin/js/masonry.min.js"></script>
    <script>
        option_tags_default();
        enablePageFlip = true; // Enable Gesture

        let diff = 10, offset = 6;
        if (window.screen.width <= 600 || window.screen.width >= 2160) {
            diff = 5; offset = 40;
        } // Mobile
        let pdiff = 100 / diff;
        var elements = document.getElementsByClassName('tag');
        let min = elements[0].getAttribute("weight"),
            max = elements[0].getAttribute("weight");
        Array.prototype.forEach.call(elements, function(tag) {
            let w = Number.parseInt(tag.getAttribute("weight"));
            if (min > w) min = w;
            if (max < w) max = w;
        });
        let delta = (max - min + 1) / (diff - 1);
        delta = (delta < 1) ? 1 : delta;
        for (let i = elements.length - 1; i >= 0; i--) {
            let w = Number.parseInt(elements[i].getAttribute("weight"));
            elements[i].style.setProperty('--w', 'calc(' + (pdiff * Math.ceil((w - min) / delta) + pdiff).toString() + '% - ' + offset + 'px)');
        }
        var msnry = new Masonry('.grid', {
            itemSelector: '.tag',
            columnWidth: '.sizer',
            percentPosition: true
        });
    </script>
{{end}}