{{define "default/website_intro_msg"}}数据包的终界 (数据包索引库){{end}}
{{define "default/datapacks_msg"}}数据包{{end}}
{{define "default/authors_msg"}}作者{{end}}
{{define "default/tags_msg"}}标签{{end}}
{{define "default/language_msg"}}语言{{end}}
{{define "default/guide_msg"}}向导{{end}}
{{define "default/about_msg"}}关于{{end}}

{{define "default/end_crystal_msg"}}末影水晶{{end}}

{{define "default/post_at_msg"}}发表于{{end}}
{{define "default/update_at_msg"}}更新于{{end}}
{{define "default/goto_link_msg"}}前往原帖{{end}}
{{define "default/to_top_msg"}}回到顶部{{end}}
{{define "default/hide_msg"}}内容被隐藏，请前往原贴查看{{end}}
{{define "default/hide_a_msg"}}链接被隐藏，请前往原贴查看{{end}}
{{define "default/counter_msg"}}收录署名数据包数目{{end}}

{{define "default/combo-order"}}
<select class="select-menu" id="order" data-menu>
    <option value="0">最近发布</option>
    <option value="1">发布时间倒序</option>
    <option value="2">最近更新</option>
    <option value="3">更新时间倒序</option>
    <option value="4">按名称排序</option>
</select>
{{end}}
{{define "default/combo-filter-post-time"}}
<select id="filter-post-time" data-menu>
    <option value="0">-</option>
    <option value="1">今天发布</option>
    <option value="2">三日内发布</option>
    <option value="3">一周内发布</option>
    <option value="4">一月内发布</option>
    <option value="5">这个月发布</option>
    <option value="6">今年发布</option>
</select>
{{end}}
{{define "default/combo-filter-update-time"}}
<select id="filter-update-time" data-menu>
    <option value="0">-</option>
    <option value="1">今天更新</option>
    <option value="2">三日内更新</option>
    <option value="3">一周内更新</option>
    <option value="4">一月内更新</option>
    <option value="5">这个月更新</option>
    <option value="6">今年更新</option>
</select>
{{end}}
